ron(1) - the opposite of roff
=============================

## SYNOPSIS

`ron` [_OPTIONS_]
`ron` `-O` _file_

## DESCRIPTION

`ron` is a humane roff(1) subset. It was created to make UNIX manual page
creation.

## OPTIONS

`ron` expects Ron formatted text on _stdin_ and writes roff formatted
text on _stdout_.

  * `--html`[=_file_]:
    Generate HTML output.

  * `--roff`[=_file_]:
    Generate roff output.

  * `-O`:
    Open the HTML version in a browser immediately after

## SYNTAX

**Ron** is [Markdown]() with the following constraints and additions:

  1. 

## COPYRIGHT

`ron` is Copyright (C) 2009 Ryan Tomayko <http://tomayko.com/about>
